<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">
    <nav class="uk-navbar-container mf-navbar" uk-navbar style="position: relative; z-index: 980;">
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li><a href="/"><h2 class="uk-margin-remove-bottom"><span class="uk-text-primary">Mongoose</span>Flights</h2></a></li>
        </ul>
      </div>
        
      <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="#">Search Flights</a></li>
              <li><a href="#">Flight Lookup</a></li>
              <li><a href="#">Login</a></li>
          </ul>
      </div>
    </nav>
</div>