<%- include("../head.ejs") %> 
<body>
    <%- include("partials/header.ejs") %>
    <!-- <header style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline;">
        <h2 style="padding: 60px;" class="uk-text-normal">Outbound<span class="uk-text-light"> ATL-AUS</span></h2>
        <div style="padding-right: 80px ;";>
            <span uk-icon="icon: settings"></span>
            <a href="#"></a>
        </div>
    </header> -->
    <!-- <section>
        <div class="">
            <h3>Date</h3>
            <i class="material-icons airplane uk-text-primary">airplanemode_active</i>
        </div>
        <div class="">
            <p>economy</p>
            <p>main</p>
            <p>Comfort+</p>
            <p>First</p>
        </div>
    </section> -->


    <div class="uk-section uk-section-muted">
        <div class="uk-container">
            <header class="uk-flex uk-flex-between">
                <h2 class="uk-text-normal">Outbound <span class="uk-text-light">ATL-AUS</span></h2>
                <a href="#"><span uk-icon="icon: settings"></span></a>
            </header>
    
            <!-- START FLIGHT INFO -->
            <div class="uk-card uk-card-default uk-card-body uk-width-5-5 uk-flex uk-flex-between uk-padding-remove uk-margin-bottom">
                <div class="uk-width-2-5">
                    <div class="uk-padding uk-flex-column">
                        <!-- Flight# and Duration -->
                        <div class="uk-flex uk-flex-between uk-margin">
                            <div>
                                <p class="uk-text-primary uk-text-small uk-margin-remove">DL2442</p>
                            </div>
                            <div>
                                <p class="uk-text-small uk-margin-remove">2h 18m</p>
                            </div>
                        </div>

                        <!-- Departure & Arrival Times -->
                        <div class="uk-flex uk-flex-between uk-margin">
                            <div>
                                <h2 class="uk-text-light">8:15am</h2>
                            </div>
                            <div>
                                <i class="material-icons airplane uk-text-secondary">airplanemode_active</i>
                            </div>
                            
                            <div>
                                <h2 class="uk-text-light ">9:33am</h2>
                            </div>
                        </div>

                        <!-- Border Thingie -->
                        <div class="mf-flight-border"></div>

                        <!-- City / Nonstop Thingies -->
                        <div class="uk-flex uk-flex-between">
                            <div>
                                <small class="uk-text-bold uk-text-secondary">ATL</small>
                            </div>
                            <div>
                                <small class="uk-text-muted">Nonstop</small>
                            </div>
                            <div>
                                <small class="uk-text-bold uk-text-secondary">AUS</small>
                            </div>
                        </div>
                    </div>

                    <!-- Details / Seats / Amenities -->
                    <div class="uk-flex uk-flex-between uk-card-footer mf">
                        <div class="uk-flex uk-flex-between">
                            <button class="uk-button mf uk-button-default uk-button-small">Details</button>
                            <span class="mf-spacer"></span>
                            <button class="uk-button mf uk-button-default uk-button-small">Seats</button>
                        </div>

                        <div class="uk-flex uk-flex-between">
                            <div><i class="material-icons mf wifi uk-text-primary">wifi</i></div>
                            <div><i class="material-icons mf electrical_services uk-text-primary">electrical_services</i></div>
                            <div><i class="material-icons mf usb uk-text-primary">usb</i></div>
                            <div><i class="material-icons mf tv uk-text-primary">tv</i></div>
                        </div>
                    </div>
                </div>

                <div class="uk-width-1-5 mf-class-options uk-padding uk-flex uk-flex-column uk-flex-middle uk-flex-space-between">
                    <p class="uk-text-center uk-text-primary uk-text-bold uk-text-small uk-margin-remove">Economy</p>
                    <p class="uk-text-center uk-text-muted uk-margin-small"><small>From</small></p>
                    <h3 class="uk-text-center mf-price uk-margin-remove">107</h3>
                    <p class="uk-text-center uk-margin-remove uk-text-secondary"><small>Round Trip</small></p>
                    <button class="uk-button uk-button-default uk-margin-medium-top">Select</button>
                </div>
                <div class="uk-width-1-5 mf-class-options uk-padding comfort uk-flex uk-flex-column uk-flex-middle uk-flex-space-between">
                    <p class="uk-text-center uk-text-primary uk-text-bold uk-text-small uk-margin-remove">Comfort+</p>
                    <p class="uk-text-center uk-text-muted uk-margin-small"><small>From</small></p>
                    <h3 class="uk-text-center mf-price uk-margin-remove">327</h3>
                    <p class="uk-text-center uk-margin-remove uk-text-secondary"><small>Round Trip</small></p>
                    <button class="uk-button uk-button-primary uk-margin-medium-top">Select</button>
                </div>
                <div class="uk-width-1-5 mf-class-options uk-padding first uk-flex uk-flex-column uk-flex-middle uk-flex-space-between">
                    <p class="uk-text-center uk-text-primary uk-text-bold uk-text-small uk-margin-remove">First</p>
                    <p class="uk-text-center uk-text-muted uk-margin-small"><small>From</small></p>
                    <h3 class="uk-text-center mf-price uk-margin-remove">568</h3>
                    <p class="uk-text-center uk-margin-remove uk-text-secondary"><small>Round Trip</small></p>
                    <button class="uk-button uk-button-default uk-margin-medium-top">Select</button>
                </div>
            </div>
            <!-- END FLIGHT INFO -->

            <!-- START FLIGHT INFO -->
            <div class="uk-card uk-card-default uk-card-body uk-width-5-5 uk-flex uk-flex-between uk-padding-remove uk-margin-bottom">
                <div class="uk-width-2-5">
                    <div class="uk-padding uk-flex-column">
                        <!-- Flight# and Duration -->
                        <div class="uk-flex uk-flex-between uk-margin">
                            <div>
                                <p class="uk-text-primary uk-text-small uk-margin-remove">DL1445</p>
                            </div>
                            <div>
                                <p class="uk-text-small uk-margin-remove">2h 19m</p>
                            </div>
                        </div>

                        <!-- Departure & Arrival Times -->
                        <div class="uk-flex uk-flex-between uk-margin">
                            <div>
                                <h2 class="uk-text-light">10:25am</h2>
                            </div>
                            <div>
                                <i class="material-icons airplane uk-text-secondary">airplanemode_active</i>
                            </div>
                            
                            <div>
                                <h2 class="uk-text-light ">12:44pm</h2>
                            </div>
                        </div>

                        <!-- Border Thingie -->
                        <div class="mf-flight-border"></div>

                        <!-- City / Nonstop Thingies -->
                        <div class="uk-flex uk-flex-between">
                            <div>
                                <small class="uk-text-bold uk-text-secondary">ATL</small>
                            </div>
                            <div>
                                <small class="uk-text-muted">Nonstop</small>
                            </div>
                            <div>
                                <small class="uk-text-bold uk-text-secondary">AUS</small>
                            </div>
                        </div>
                    </div>

                    <!-- Details / Seats / Amenities -->
                    <div class="uk-flex uk-flex-between uk-card-footer mf">
                        <div class="uk-flex uk-flex-between">
                            <button class="uk-button mf uk-button-default uk-button-small">Details</button>
                            <span class="mf-spacer"></span>
                            <button class="uk-button mf uk-button-default uk-button-small">Seats</button>
                        </div>

                        <div class="uk-flex uk-flex-between">
                            <div><i class="material-icons mf wifi uk-text-primary">wifi</i></div>
                            <div><i class="material-icons mf electrical_services uk-text-primary">electrical_services</i></div>
                            <div><i class="material-icons mf usb uk-text-primary">usb</i></div>
                            <div><i class="material-icons mf tv uk-text-primary">tv</i></div>
                        </div>
                    </div>
                </div>

                <div class="uk-width-1-5 mf-class-options uk-padding uk-flex uk-flex-column uk-flex-middle uk-flex-space-between">
                    <p class="uk-text-center uk-text-primary uk-text-bold uk-text-small uk-margin-remove">Economy</p>
                    <p class="uk-text-center uk-text-muted uk-margin-small"><small>From</small></p>
                    <h3 class="uk-text-center mf-price uk-margin-remove">107</h3>
                    <p class="uk-text-center uk-margin-remove uk-text-secondary"><small>Round Trip</small></p>
                    <button class="uk-button uk-button-default uk-margin-medium-top">Select</button>
                </div>
                <div class="uk-width-1-5 mf-class-options uk-padding comfort uk-flex uk-flex-column uk-flex-middle uk-flex-space-between">
                    <p class="uk-text-center uk-text-primary uk-text-bold uk-text-small uk-margin-remove">Comfort+</p>
                    <p class="uk-text-center uk-text-muted uk-margin-small"><small>From</small></p>
                    <h3 class="uk-text-center mf-price uk-margin-remove">327</h3>
                    <p class="uk-text-center uk-margin-remove uk-text-secondary"><small>Round Trip</small></p>
                    <button class="uk-button uk-button-primary uk-margin-medium-top">Select</button>
                </div>
                <div class="uk-width-1-5 mf-class-options uk-padding first uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-flex-space-around">
                    <p class="uk-text-center uk-text-muted uk-margin-small">Unavailable</p>
                </div>
            </div>
            <!-- END FLIGHT INFO -->
    
        </div>
    </div>
    


    

</body>
</html>